# Do not push data to repo 
data/*
json/*
modeling/*
code/*.csv

# Do not push symlinks to repo
*.URL

# Do not push pycache to repo
*/__pycache__/

# for Mac
*.DS_Store

# .ipynb checkpoints
*/.ipynb_checkpoints/